{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    <h1>Dashboard administrateur</h1>
    <p>Gestion des événements et des réservations.</p>
{% endblock %}