{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <p>Application de réservation d’événements.</p>

    <p><a href="/events">Voir les événements</a></p>
{% endblock %}